*{
    margin:0;
} 
#container{
    width: 1440px;
    height: 600px;
    background-color:#335176;
}
a{
    padding: 20px;
   float: right;
   text-decoration: none;
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.btn{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(80, 176, 218);
    background-color:#3d608b ;
    color: white;
    font-size: 13pt;
 }
 a:hover{
   color:rgb(80, 176, 218) ;
 }
 .btn:hover{
    border-radius: 20px;
    border: none;
    background-color: rgb(80, 176, 218) ;
    color: white;
    font-size: 13pt;

 }
 #span1{
    position:  absolute;
    top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
     font-size: 17pt;
     font-weight: bold;
 
 }
 h3{
     position: relative;
     top: 30%;
     margin-left: 50px;
    font-size: 30pt;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 
 }
 p{
    position: relative;
    top: 35%;
    margin-left: 50px;
    font-size: 13pt;
    color: rgb(220, 217, 217);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
 }
 .btn1{
    position: absolute;
    top: 55%;
    margin-left: 50px;

    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(80, 176, 218) ;
    color: white;
    font-size: 13pt;
 }
 .btn1:hover{
     
    border-radius: 20px;
    border: 2px solid rgb(80, 176, 218);
    background-color:#3d608b ;
    color: white;
    font-size: 13pt;
 }
 i{
    position: absolute;
    top: 55%;
    left: 19%;
    color: white;
    font-size: 25pt;
 }
 i:hover{
    font-size: 30px;
 }
 h4{
    position: absolute;
    top: 56%;
    margin-left: 320px;
     font-size: 12pt;
    color: rgb(220, 217, 217);
    font-family:'Courier New', Courier, monospace;
    
 }
 .img1{
    width: 400px;
    height: 400px;
    position:relative;
    top: 0%;
    left: 54%; 
 }
 #container2{
    width: 1440px;
    height: 100px;
    background-color:rgba(215, 215, 215, 0.877);
 }
h2{
    color: #3d608b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding: 28px;
    margin-left: 180px;
}
#h1
{
    padding: 50px;
    margin-left: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #3d608b;
    font-size: 38pt;

} 
#para{
    text-align: center;
    color: #3d608b;

}
 